{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Complete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <h1>Successfully Executed Query</h1>
    <h2>Time taken : {{time_diff}} </h2>
    <hr>
    <a href="/"  class="btn btn-primary btn-lg">Home Page</a>
  </body>
</html>
{% endblock %}
